<% include ../partials/header %>
<div class="container">
    <div class="row text-center">
          <h2> Get the hold of a new mountain to share?</h2>
        <div class="thumbnail" style="margin:auto;width:50%;">
          <% if(typeof errors !== 'undefined') { %>
            <ul>
            <%  errors.forEach(function(error){ %>
                <li>
                <%=  error.msg %>
                </li>
            <%  }); %>
            </ul>
          <% } %>
            <form action="/mountains" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="Name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="image" placeholder="Image url">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="description" placeholder="Description">
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="height" placeholder="Height in meters">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="location" placeholder="Location ( country )">
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="ascents" placeholder="Number of ascents">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="deaths" placeholder="Number of deaths">
                </div>
                <div class="form-group">
                    <button class="btn btn-default btn-large btn-block">Submit!</button>
                </div>

            </form>
            <a class="btn btn-default btn-large btn-block" style="background-color:#888;color:#555;" href="/mountains"> Go back</a>
        </div>


    </div>

</div>

<% include ../partials/footer %>
