@import url(https://fonts.googleapis.com/css?family=Roboto:100,700;);

body::after {
  content: '';
  position: fixed;
  width: 100%;
  height: 100%;
  background: #222;
  top: 0;
  z-index: -1;
  opacity: 0.8;
}

body {
  font-family:  Open Sans;
  font-weight: 400;
  font-size: 16px;
  background-image: url(https://assets.vogue.com/photos/58ec0d20f2a13a6b67f24c57/master/pass/05-caucasus-mountains-tbilisi-georgia-guide.jpg);
  background-size: cover;
  color: #777;
  background-attachment: fixed;
  line-height: 1.7;
}

p {
  line-height: 1.8
}

h1, h2, h3, h4 {
  font-family: Montserrat;
}

.form-control {
  border: none;
  border-bottom: 1px solid #555;
  padding: 30px 0px;
  padding-bottom: 20px;
  border-radius: 0px;
  background-color: transparent;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
  padding: 12px;
}

.navbar-default .navbar-nav>li>a {
  color: #777;
  font-weight: bold;
  font-family: Montserrat;
}

.navbar-default .navbar-brand {
    color: #777;
    font-family: montserrat;
    font-size: 220%;
    font-weight: 900;
  }

h2 {
  font-family: Montserrat;
  border-bottom: 1px solid #888;
  padding: 30px 10px;
  padding-top: 0px;
  margin-bottom: 30px;
  color: #777;
  font-weight: 400;
}

hr {
      border-top: 1px solid #333;
      margin-top:40px;
      margin-bottom: 40px;
}

.btn-default {
    color: #777;
    padding: 10px 20px;
    background-color: #333;
    border-color: #333;
}

.thumbnail {
  background-color: rgba(0,0,0,0.5);
  border: 1px solid #222;
  padding: 50px;
  border-radius: 5px;
}

.snip1585 {
  background-color: #000;
  color: #fff;
  box-shadow: 0px 0px 30px #222;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  margin: 8px;
  max-width: 315px;
  min-width: 230px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.snip1585 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1585:before,
.snip1585:after {
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 50px solid rgba(0, 0, 0, 0.5);
  border-bottom: 50px solid rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0;
}

.snip1585:before {
  -webkit-transform: scaleY(2);
  transform: scaleY(2);
}

.snip1585:after {
  -webkit-transform: scaleY(2);
  transform: scaleY(2);
}

.snip1585 img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.snip1585 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1em;
  opacity: 0;
  z-index: 2;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.snip1585 h3 {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
}

.snip1585 h3 span {
  display: block;
  font-weight: 700;
}

.snip1585 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.snip1585:hover > img,
.snip1585.hover > img {
  opacity: 0.7;
}

.snip1585:hover:before,
.snip1585.hover:before,
.snip1585:hover:after,
.snip1585.hover:after {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.snip1585:hover figcaption,
.snip1585.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
